<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="icon" href="/img/favicon.png" />
     Place favicon.ico in the root directory -->
    <!-- google-font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- nivo-slider css -->
    <link rel="stylesheet" href="/css/nivo-slider.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <!--linearicons css -->
    <link rel="stylesheet" href="/css/linearicons-icon-font.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <style>
        .id-product {
            display: none;
        }
    </style>

</head>

<header th:fragment="header">
    <div class="header-top-area ptb-10 hidden-xs header-top-area-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="header-top-right header-top-left-4">
                        <p>FREE SHIPPING</p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7 header-top-right-4">

                    <div class="header-top-left">
                        <ul>
                            <li class="click_menu" th:if="${#authorization.expression('isAuthenticated()')}">
                                <a href="#" th:text="${#authentication.principal.username}"><i class="fa fa-angle-down"></i></a>
                                <ul class="click_menu_show">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="/logout">Log out</a></li>
                                </ul>
                            </li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                                <a href="/auth/login">Log in<i class="fa fa-angle-down"></i></a>

                            </li>
                            <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout">Log out</a></li>
                            <li th:unless="${#authorization.expression('isAuthenticated()')}"><a href="/auth/register">Create new account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-area home-page-2 ptb-10">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="menu-search-box scnd-fix">
                        <form>
                            <input type="text" id="keyword" placeholder="Search here..."/>
                            <button type="button" onclick="searchProduct()"><span class="lnr lnr-magnifier"></span></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="logo logo2">
                        <a href="/home"><img src="/img/logo-4.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                    <div class="header-bottom-right-4-inner">
                        <a th:if="${#authorization.expression('isAuthenticated()')}" href="#"><span class="lnr lnr-heart"></span></a>
                    </div>
                    <div class="header-bottom-right header-bottom-right-4">
                        <div class="shop-cart shop-cart-4">
                            <a th:if="${#authorization.expression('isAuthenticated()')}" href="/shopping-cart"><span class="lnr lnr-cart"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/Ecommerce/header.js"></script>
</header>

<div th:fragment="mainmenu" class="mainmenu-area home-page-2 mainmenu-area-4" id="main_h">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mainmenu hidden-xs">
                    <nav>
                        <ul>
                            <li>
                                <a href="/home">HOME</a>
                            </li>
                            <li>
                                <a href="/shop">SHOP</a>
                            </li>
                            <li>
                                <a href="#">REPAIR SERVICE</a>
                            </li>
                            <li>
                                <a href="#">DESIGN SERVICE</a>
                            </li>
                            <li>
                                <a href="#">WISH LIST</a>
                            </li>
                            <li>
                                <a href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="mobilemenu" class="mobile-menu-area hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li class="active"><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">home version 1</a></li>
                                    <li><a href="index-2.html">home version 2</a></li>
                                    <li><a href="index-3.html">home version 3</a></li>
                                    <li><a href="index-4.html">home version 4</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Bedroom</a>
                                <ul>
                                    <li><a href="#">Beds</a>
                                        <ul>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Storage Beds</a></li>
                                            <li><a href="#">Regular Beds</a></li>
                                            <li><a href="#">Sleigh Beds</a></li>
                                            <li><a href="#">modern beds</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Nightstands</a>
                                        <ul>
                                            <li><a href="#">Brown Finish</a></li>
                                            <li><a href="#">Distressed</a></li>
                                            <li><a href="#">Cherry Finish</a></li>
                                            <li><a href="#">Weathered</a></li>
                                            <li><a href="#">Laundry</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Headboards</a>
                                        <ul>
                                            <li><a href="#">Upholstered</a></li>
                                            <li><a href="#">Tufted</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Living Room	</a>
                                <ul>
                                    <li><a href="#">Beds</a>
                                        <ul>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Storage Beds</a></li>
                                            <li><a href="#">Regular Beds</a></li>
                                            <li><a href="#">Sleigh Beds</a></li>
                                            <li><a href="#">modern beds</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Nightstands</a>
                                        <ul>
                                            <li><a href="#">Brown Finish</a></li>
                                            <li><a href="#">Distressed</a></li>
                                            <li><a href="#">Cherry Finish</a></li>
                                            <li><a href="#">Weathered</a></li>
                                            <li><a href="#">Laundry</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Headboards</a>
                                        <ul>
                                            <li><a href="#">Upholstered</a></li>
                                            <li><a href="#">Tufted</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Headboards</a>
                                        <ul>
                                            <li><a href="#">Upholstered</a></li>
                                            <li><a href="#">Tufted</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Dining Room</a>
                                <ul>
                                    <li><a href="#">Dining tables</a>
                                        <ul>
                                            <li><a href="#">Crochet</a></li>
                                            <li><a href="#">Sleeveless</a></li>
                                            <li><a href="#">Regular Beds</a></li>
                                            <li><a href="#">Stripes</a></li>
                                            <li><a href="#">Sweaters</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dining chairs</a>
                                        <ul>
                                            <li><a href="#">Ankle</a></li>
                                            <li><a href="#">Distressed</a></li>
                                            <li><a href="#">Cherry Finish</a></li>
                                            <li><a href="#">Weathered</a></li>
                                            <li><a href="#">Laundry</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Headboards</a>
                                        <ul>
                                            <li><a href="#">Upholstered</a></li>
                                            <li><a href="#">Tufted</a></li>
                                            <li><a href="#">Phery Finiss</a></li>
                                            <li><a href="#">Platform Beds</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">pages</a>
                                <ul>
                                    <li><a href="wishlist.html">my wishlist</a></li>
                                    <li><a href="cart.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="product-details.html">product-details</a></li>
                                    <li><a href="user_accountpage.html">User account</a></li>
                                    <li><a href="customer-login.html">login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="shop.html">shop </a></li>
                                    <li><a href="contact.html">contact us</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">contact</a></li>
                            <li><a href="blog.html">blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="contact" class="contact-area ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mar_b-30">
                <div class="contuct-info text-center">
                    <h4>Sign up for news & offers!</h4>
                    <p>You may safely unsubscribe at any time</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-lg-offset-1 col-xs-12">
                <div class="search-box">
                    <form action="#">
                        <input type="email" placeholder="Enter your email address"/>
                        <button><span class="lnr lnr-envelope"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" class="footer-area footer-area-4 ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 mar_b-30">
                <div class="footer-wrapper">
                    <div class="footer-logo">
                        <a href="#"><img src="/img/logo-4.png" alt="" /></a>
                    </div>
                    <p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart themes and provide premium and  support to our products.</p>
                    <ul>
                        <li>
                            <span>Address : </span> Delhi india
                        </li>
                        <li>
                            <span>Phone: </span> 123445689
                        </li>
                        <li>
                            <span>Email:</span> <a href="#">admin@dsfbvbbdvgz.company</a>
                        </li>
                    </ul>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 hidden-sm col-xs-12 mar_b-30">
                <div class="footer-wrapper">
                    <div class="footer-title">
                        <a href="#"><h3>useful links</h3></a>
                    </div>
                    <div class="footer-wrapper">
                        <ul class="usefull-link">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Site map</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">My Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Custom service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 hidden-md hidden-sm col-xs-12 mar_b-30">
                <div class="footer-wrapper">
                    <div class="footer-title">
                        <a href="#"><h3>useful links</h3></a>
                    </div>
                    <div class="footer-wrapper">
                        <ul class="usefull-link">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Site map</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">My Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Custom service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="footer-wrapper">
                    <div class="footer-title">
                        <a href="#"><h3>useful links</h3></a>
                    </div>
                    <div class="footer-wrapper">
                        <ul class="usefull-link">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Site map</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">My Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Custom service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="copyright" class="copyright-area copyright-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mar_b-30">
                <div class="copyright text-left">
                    <p>2016 @ All Rights Reserved - <a href="#"></a></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="copyright-img text-right">
                    <a href="#"><img src="/img/payment.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

